<!-- Portfolio Section -->
<div id="portfolio">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Portfolio</h2>
      <hr>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li>
              <a href="#" data-filter="*" class="active">All</a>
            </li>
            <li>
              <a href="#" data-filter=".spa">SPA</a>
            </li>
            <li>
              <a href="#" data-filter=".tool">TOOL</a>
            </li>
            <li>
              <a href="#" data-filter=".project">PROJ</a>
            </li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-3 col-lg-3 spa ang-6 js react">
          <div class="portfolio-item">
            <div class="hover-bg">
              <a href="https://damp-dawn-49842.herokuapp.com/" target="_blank" title="Group Chat" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Group Chat</h4>
                </div>
                <img src="assets/img/portfolio/01-small.jpg" class="img-responsive" alt="Group Chat"> </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 spa ang-6 js react">
          <div class="portfolio-item">
            <div class="hover-bg">
              <a href="https://sleepy-escarpment-93966.herokuapp.com/" target="_blank" title="Comment App" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Comment App</h4>
                </div>
                <img src="assets/img/portfolio/02-small.jpg" class="img-responsive" alt="Comment App"> </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 spa ang-6 js react">
          <div class="portfolio-item">
            <div class="hover-bg">
              <a href="https://young-basin-29815.herokuapp.com/" target="_blank" title="Mini Shop App" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Mini Shop App</h4>
                </div>
                <img src="assets/img/portfolio/03-small.jpg" class="img-responsive" alt="Mini Shop App"> </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 tool ang-6 js react">
          <div class="portfolio-item">
            <div class="hover-bg">
              <a href="https://ancient-island-28242.herokuapp.com/" target="_blank" title="Selection Tool" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Selection Tool</h4>
                </div>
                <img src="assets/img/portfolio/04-small.jpg" class="img-responsive" alt="Selection Tool"> </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 tool ang-6 js react">
          <div class="portfolio-item">
            <div class="hover-bg">
              <a href="https://aqueous-inlet-94466.herokuapp.com/" target="_blank" title="PDF Viewer" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>PDF Viewer</h4>
                </div>
                <img src="assets/img/portfolio/05-small.jpg" class="img-responsive" alt="PDF Viewer"> </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 tool ang-6 js react">
          <div class="portfolio-item">
            <div class="hover-bg">
              <a href="https://whispering-fjord-64914.herokuapp.com/" target="_blank" title="ToDo App" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>ToDo App</h4>
                </div>
                <img src="assets/img/portfolio/06-small.jpg" class="img-responsive" alt="ToDo App"> </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 tool ang-6 js react">
          <div class="portfolio-item">
            <div class="hover-bg">
              <a href="https://safe-fortress-36570.herokuapp.com/" target="_blank" title="Search App" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Search App</h4>
                </div>
                <img src="assets/img/portfolio/07-small.jpg" class="img-responsive" alt="Search App"> </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 tool ang-6 js react">
          <div class="portfolio-item">
            <div class="hover-bg">
              <a href="https://floating-river-19838.herokuapp.com/" target="_blank" title="Dynamic Responsive Grid" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Dynamic Responsive Grid</h4>
                </div>
                <img src="assets/img/portfolio/08-small.jpg" class="img-responsive" alt="Dynamic Responsive Grid"> </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 tool ang-6 js react">
          <div class="portfolio-item">
            <div class="hover-bg">
              <a href="https://powerful-oasis-12242.herokuapp.com/" target="_blank" title="Location App" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Location App</h4>
                </div>
                <img src="assets/img/portfolio/10-small.jpg" class="img-responsive" alt="Location App"> </a>
            </div>
          </div>
        </div>
        <!--<div class="col-sm-6 col-md-3 col-lg-3 tool">
          <div class="portfolio-item">
            <div class="hover-bg">
              <a href="assets/img/portfolio/11-large.jpg" target="_blank" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Project Title</h4>
                </div>
                <img src="assets/img/portfolio/11-small.jpg" class="img-responsive" alt="Project Title"> </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 spa">
          <div class="portfolio-item">
            <div class="hover-bg">
              <a href="assets/img/portfolio/12-large.jpg" target="_blank" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Project Title</h4>
                </div>
                <img src="assets/img/portfolio/12-small.jpg" class="img-responsive" alt="Project Title"> </a>
            </div>
          </div>
        </div>-->
        <div class="col-sm-6 col-md-3 col-lg-3 project ang-6 js react">
          <div class="portfolio-item">
            <div class="hover-bg">
              <a href="https://www.npmjs.com/~wapappdeveloper/" target="_blank" title="NPM Repo" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>NPM Repo</h4>
                </div>
                <img src="assets/img/portfolio/09-small.jpg" class="img-responsive" alt="NPM Repo"> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="info-portfolio">Note: use <b>username:</b><i>abc@gmail.com</i> <b>password:</b><i>123456</i> for some apps to login</p>
  </div>
  <div class="gap"></div>
  <div class="container">
    <div class="section-title text-center center">
      <h2>Angular-6 vs JavaScript vs React</h2>
      <hr>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li>
              <a href="#" data-filter="*" class="active">All</a>
            </li>
            <li>
              <a href="#" data-filter=".ang-6">ANG-6</a>
            </li>
            <li>
              <a href="#" data-filter=".js">JS</a>
            </li>
            <li>
              <a href="#" data-filter=".react">REACT</a>
            </li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-3 col-lg-3 ang-6 spa tool project">
          <div class="portfolio-item">
            <div class="hover-bg">
              <a href="https://secure-river-70584.herokuapp.com/" target="_blank" title="Angular-6" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Angular-6</h4>
                </div>
                <img src="assets/img/portfolio/ang-small.jpg" class="img-responsive" alt="Angular-6"> </a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-3 js spa tool project">
          <div class="portfolio-item">
            <div class="hover-bg">
              <a href="https://gentle-brook-12969.herokuapp.com/" target="_blank" title="JS" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>JavaScript</h4>
                </div>
                <img src="assets/img/portfolio/js-small.jpg" class="img-responsive" alt="JavaScript"> </a>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-3 col-lg-3 react spa tool project">
          <div class="portfolio-item">
            <div class="hover-bg">
              <a href="https://evening-hollows-99043.herokuapp.com/" target="_blank" title="React" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>React</h4>
                </div>
                <img src="assets/img/portfolio/react-small.jpg" class="img-responsive" alt="React"> </a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-3 spa tool project">
          <div class="portfolio-item">
            <div class="hover-bg">
              <a href="https://fierce-forest-49279.herokuapp.com/" target="_blank" title="All in One" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>All in One</h4>
                </div>
                <img src="assets/img/portfolio/all-small.jpg" class="img-responsive" alt="All in One"> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="info-portfolio">Note: The above three TODO App is developed in ANGULAR-6, Pure JS and REACT. You can Investigate which is faster and cool.</p>
  </div>
</div>